*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	list-style: none;
	font-family: 'Oswald', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}


.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.wrapper {
	width: 1920px;
	margin: 0 auto;
}

header {
	background-color: #112A2F;
}

header .logo {
	float: left;
	margin: 17px 8px 25px 0;
}

header .head__nav {
	float: right;
	margin: 41px 0 45px;
}


header .head__nav ul li {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	margin-right: 50px;
}

header .head__nav ul li:hover {
	color: yellow;
}

header .head__nav ul li::after {
	content: '';
	width: 5px;
	height: 5px;
	background-color: yellow;
	display: block;
	position: absolute;
	right: -31px;
    top: 41%;
	transform: translate(-50%);
}

.head__back {
	width: 100%;
	height: 290px;
	background-color: #11343A;
}

.banner {
	background-color: #112A2F;
}

.banner__desc {
	text-align: center;
	padding: 64px 0;
}

.banner__title {
	width: 690px;
	text-align: center;
	font-size: 65px;
	
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
}

.banner__button {
	margin: 48px 0 0 0;
}

.banner__button a {
	background-color: #ffe600;
	display: inline-block;
}

.banner__button p {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #131316;
	margin: 20px 49px 18px 51px;
}

.banner__back {
	width: 100%;
	height: 290px;
	background-color: #11343A;
	position: relative;
}



.banner__back .anchor {
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translate(-50%);
}

.anchor a {
	width: 60px;
	background-color: #ffe600;
	color: #fff;
}

.anchor a:hover {
	background-color: #fff;
	color: #ffe600;
}

.anchor i {
	font-size: 18px;
}

.services {
	width: 100%;
	background-color: #FFF;
}

.services__title {
	text-align: center;
	margin: 60px 0 24px 0;
}

.services__title p {
	color: #515151;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.services__title h3 {
	color: #000000;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.title__border {
	width: 170px;
	height: 3px;
	background-color: #ffe600;
	margin-left: 50%;
	transform: translate(-50%);
	margin-bottom: 23px;
}

.services__desc {
	width: 959px;
	margin: 0 auto 60px;
}

.services__desc p {
	color: #707070;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	text-align: center;
}

.services__items {
	margin: 0 auto 67px;
}

.services__item {
	width: 266px;
	text-align: center;
	display: inline-block;
	margin-right: 35px;
}

.services__item:last-child {
	margin-right: -35px;
}

.services__icon {
	position: relative;
}

.services__icon a {
	width: 106px;
	height: 106px;
	border-radius: 50%;
	border: 1px solid #ffe600;
	background-color: #fbfbfb;
	display: inline-block;
	background-color: #ffe600;
	color: #fbfbfb;
}

.services__icon i {
	position: absolute;
	left: 50%;
	top: 22%;
	transform: translate(-50%);
	font-size: 34px;
}

.services__icon a:hover {
	background-color: #fbfbfb;
	color: #ffe600;
	border: 1px solid #131316;
}

.services__item__desc h3 {
	color: #131316;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 24px 0;
}

.services__item__desc p {
	color: #707070;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}

.services__variety {
	background-color: #12191D;
	padding: 65px 0 78px 0;
}

.variety__title {
	text-align: center;
	margin: 0 0 65px 0;
}

.variety__title h2 {
	color: #ffe600;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.variety__title p {
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	margin-top: 25px;
}

.variety__items {
	text-align: center;
}

.varierty__item {
	max-width: 153px;
	text-align: center;
	float: left;
	margin-right: 44px;
}

.varierty__item:last-child {
	margin-right: -44px;
}

.variety__icon a i {
	color: yellow;
	font-size: 41px;
}

.varierty__item__desc {
	color: #fff;
}

.varierty__item__desc h3 {
	margin: 29px 0 27px 0;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.varierty__item__desc p {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
}

.truck a i{
	display: inline-block;
	-webkit-transform: scale(-1,1);
	-moz-transform: scale(-1,1);
	-ms-transform: scale(-1,1);
	-o-transform: scale(-1,1);
	transform: scale(-1,1);
}

.works {
	padding: 60px 0 0 0;
}

.works__title {
	text-align: center;
}

.works__title p {
	color: #515151;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.works__title h2 {
	color: #000000;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 24px 0;
}

.title__desc {
	width: 960px;
	text-align: center;
	margin: 0 auto;
}

.title__desc p {
	color: #707070;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 61px;
}

.works__nav {
	text-align: center;
}

.works__nav ul li {
	position: relative;
	display: inline-block;
	color: #515151;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	margin-right: 49px;
}

.works__nav ul li::after {
	content: '';
	width: 5px;
	height: 5px;
	background-color: yellow;
	display: block;
	position: absolute;
	right: -31px;
    top: 41%;
	transform: translate(-50%);
}

.works__nav ul li:hover {
	color: yellow;
}

.works__desc {
	margin: 60px 0;
}

.works__video {
	float: left;
}

.video__desc {
	margin: 73px 20px;
	width: 444px;
	float: right;
}

.video__desc h3 {
	color: #515151;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 23px;
}

.video__desc p {
	width: 362px;
	color: #707070;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}

.video__desc a {
	margin: 23px 0;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	width: 170px;
	background-color: #ffe600;
	display: block;
	text-align: center;
	padding: 19px 0 20px 0;
}

.works__item-desc {
	width: 320px;
	text-align: center;
	padding: 98px 0;
	display: inline-block;
	margin-right: -5px;
}


.works__item-desc h3{
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

.works__item-desc p {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.dark {
	color: #11343a;
	background-color: #11343a;
}

.works__item-desc:hover {
	color: #fff;
	background-color: #cfc20b;
}

.light {
	color: #394948;
	background-color: #394948;
}

.anchor__portfolio {
	text-align: center;
	margin-top: 100px;

}

.portfolio__title {
	text-align: center;
	margin: 50px 0 63px 0;
}

.portfolio__title h2{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.portfolio__title p {
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 60px;
}

.portfolio__title a {
	padding: 22px 48px;
	background-color: #ffe91f;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
}

.portfolio__back {
	background-color: #12191d;
	padding: 65px 0;
}

.portfolio__desc {
	text-align: center;
	color: #fff;
}

.portfolio__desc h2 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 27px;
}

.portfolio__desc p {
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 60px;
}

.portfolio__item {
}

.portfolio__item-desc {
	display: inline-block;
	text-align: center;
	width: 269px;
	border: 2px solid #ffe700;
	margin-right: 32px;
	padding: 36px 0;
}

.portfolio__item-desc h2 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
}

.portfolio__item-desc p {
	color: #ffe600;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.portfolio__item-desc:last-child {
	margin-right: -32px;
}

.about__title h2 {
	margin: 24px 0;
}

.about__title-desc {
	width: 960px;
	color: #707070;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}

.about__item {
	width: 560px;
	display: inline-block;
	margin: 0 0 60px 0;
}

.about__item-img {
	float: left;
	margin-right: 29px;
}

.about__item-desc {

}

.about__item h2 {
	color: #515151;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.about__item p {
	color: #707070;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}

.right-column {
	margin-left: 40px;
}

.team__title {
	text-align: center;
	padding: 100px 0 60px 0;
}

.team__title h2 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 27px 0;
}

.team__title p {
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}


.team__item	{
	width: 270px;
	display: inline-block;
	margin-right: 30px;
}

.team__item-img {
	background-color: #11343a;
	height: 250px;
}

.team__item-desc {
	text-align: center;
	border-bottom: 2px solid #dfe4e5;
}

.team__item-desc h2 {
	color: #ffe600;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 17px 0 12px 0;
}

.team__item-desc p {
	color: #707070;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 17px;
}

.team__item:last-child {
	margin-right: -30px;
}